@import '../style/partials/header';
@import '../style/partials/why-choose-us';
@import '../style/partials/icons';
@import '../style/partials/house';
@import '../style/partials/panorama';
@import '../style/partials/testimonial';
@import '../style/partials/footer';

body{
    max-width: 1700px;
    width: 100%;
    margin:auto;
}