@use '../variables/font';
@use '../variables/color';

@mixin h1{
    font-family: font.$josefin-sans;
    font-weight: bold;
    font-size: 48px;
    line-height: 26px;
    letter-spacing: 4.8px;
    color:color.$white;
    text-align: center;
}

@mixin h2{
    font-family: font.$aleo;
    font-size: 36px;
    line-height: 26px;
    color: color.$white;
}

@mixin h3{
    font-family: font.$josefin-sans;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color:color.$white;
}

@mixin container ($justify-content: center, $align-items: center, $flex-direction: row, $flex-wrap: wrap){
    display:flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
}

@mixin p{
    font-family: font.$josefin-sans;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    color:color.$paragraph;
}

@mixin btn{
    max-width: 228px;
    min-height: 63px;
    width: 100%;
    border:none;
    background-color: color.$btn;
    color: color.$white;
    font-family: font.$josefin-sans;
    font-size:16px;
    line-height: 26px;
    letter-spacing:1.6px;
    transition: all 0.3s ease-in-out;

    &:hover{
        background-color: color.$btn-hover;
    }

    &:active{
        background-color: color.$btn-active;
    }
}

